
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact-section">
    <div class="container">
        <div class="text-center contact-title">
            <h2>Login to Beautifuls</h2>
        </div>

    </div>
</section>
